@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');



html {
    font-family: "Aleo", serif;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(241, 241, 34);
}
h1, h2, h3, p, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;

}
img {
    display: block;

}
input, button, select {
    font-family: inherit;
}